@tailwind base;
@tailwind components;
@tailwind utilities;

label.required::after {
  content: "*";
  @apply ml-1 text-sm font-bold text-green;
}

input:focus,
textarea:focus {
  @apply outline-none;
}

.notification {
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.notification.show {
  display: block;
  opacity: 1;
  animation:
    fadeIn 0.5s forwards,
    fadeOut 0.5s 2.5s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-24px) translateX(50%);
  }
  to {
    opacity: 1;
    transform: translateY(0) translateX(50%);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0) translateX(50%);
  }
  to {
    opacity: 0;
    transform: translateY(-24px) translateX(50%);
  }
}
